# Conditions

In [1]:
name = 'John'
if name in ["John", "Rick"]:
    print("Your name is either John or Rick")

Your name is either John or Rick

In [3]:
x = [1,2,3,4,5]
y = [1,2,3,4,5]
print(x == y)
print(x is y)

True
False

In [5]:
a = 1
b = a
print(b is a)
print(a is b)
print(a == b)

True
True
True

# Loops

In [6]:
# break and continue statements
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [7]:
# break and continue statements
for x in range(10):
    #check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [9]:
# else clause for *while loops*
count = 0
while (count<5):
    print(count)
    count += 1
else:
    print('count value reached %d' %(count))

0
1
2
3
4
count value reached 5

In [10]:
# else clause for *for loops*
for i in range(1,10):
    if (i % 5 == 0):
        break
    print(i)
else:
    print('this is not printed because for loop is terminated becauseof break but not due to fail in condition')

1
2
3
4

# Exercise
Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [12]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

In [17]:
for number in numbers:
    if (number%2 == 0) and (number != 237):
        print(number)
    if (number == 237):
        break

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

In [19]:
for number in numbers:
    if number == 237:
        break
    if number % 2 == 1: # it's odd
        continue
    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918