# Basics - variables and types

In [5]:
# variables
dog_name = 'Freddie'
age = 9
is_vaccinated = True
height = 1.1
birth_year = 2001

In [2]:
dog_name

'Freddie'

In [3]:
age

9

In [1]:
dog_name = "Eddie"

In [2]:
dog_name

'Eddie'

## Operators

In [3]:
a = 3
b = 4

In [4]:
a + b

7

In [5]:
a - b

-1

In [6]:
a * b

12

In [7]:
a / b

0.75

In [9]:
b % a

1

In [10]:
a ** b

81

In [11]:
a > b

False

In [12]:
a < b

True

In [13]:
a == b

False

In [14]:
c = True
d = False

In [15]:
c and d

False

In [16]:
c or d

True

In [17]:
not c

False

In [18]:
c and a

3

In [19]:
a and c

True

In [20]:
c or a

True

In [21]:
a or c

3

In [22]:
a and d

False

In [23]:
d or a

3

In [24]:
d and a

False

In [25]:
a or d

3

In [21]:
a = 1
b = 2
c = 3
d = True
e = 'cool'

In [22]:
a == e or d and c > b 

# FALSE OR TRUE AND TRUE 
# FALSE OR TRUE
# not > and > or

True

In [28]:
not a

False

In [29]:
not c

False

In [3]:
not e

False

In [24]:
not a == e or d and not c > b

# NOT FALSE OR TRUE AND NOT TRUE
# TRUE OR TRUE AND FALSE
# TRUE OR FALSE

True

# Data Structures

In [6]:
my_book =  "Practical Statistics for Data Scientists"

In [7]:
my_book2 = "Digital Fortress"

In [27]:
my_book3 = "A Game of Thrones"

# CREATING VARIABLES FOR EACH BOOK IS NOT THE BEST WAY TO STORE THEM.

In [28]:
book_list = ['Game of Thrones', 'Digital Fortress', 'Practical Statistics for Data Scientists']

In [29]:
book_tuple = ('Game of Thrones', 'Digital Fortress', 'Practical Statistics for Data Scientists')

In [30]:
book_dictionary = {'George R. R. Martin': 'A Game of Thrones', 'Dan Brown': 'Digital Fortress', 'A. & P. Bruce': 'Practical Statistics for Data Scientists'}

## List

In [12]:
my_first_list = [3, 4, 1, 4, 5, 2, 7]

In [13]:
my_first_list

[3, 4, 1, 4, 5, 2, 7]

In [14]:
dog = ['Freddie', 9, True, 1.1, 2001]

In [15]:
dog

['Freddie', 9, True, 1.1, 2001]

In [32]:
dog = ['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]

In [33]:
dog

['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]

In [5]:
sample_matrix = [[1, 4, 9], [1, 8, 27], [1, 16, 81]]

# nested list

In [35]:
sample_matrix

[[1, 4, 9], [1, 8, 27], [1, 16, 81]]

In [36]:
dog[1]

# how access a specific element of a Python L
# Python uses the zero-based indexing

9

In [37]:
dog[0]

'Freddie'

In [38]:
dog[1]

9

In [39]:
dog[2]

True

In [40]:
dog[3]

1.1

In [41]:
dog[4]

2001

In [42]:
dog[5]

['bone', 'little ball']

In [43]:
dog[5][0]

'bone'

In [44]:
dog[5][1]

'little ball'

In [29]:
dog[1:4]

# how to access multiples elements of a Python list

[9, True, 1.1]

## Tuple

In [30]:
my_first_tuple = (1, 2, 3, 4, 5, 6)

In [31]:
my_first_tuple

(1, 2, 3, 4, 5, 6)

In [32]:
book_tuple[1]

# how to access a specific element of Python tuple

'Digital Fortress'

## Dictionary

In [2]:
dog_dict = {'name': 'Freddie', 
            'age': 9, 
            'is_vaccinated': True, 
            'height': 1.1, 
            'birth_year': 2001, 
            'belongings': ['bone', 'littleball']}

In [3]:
dog_dict

{'name': 'Freddie',
 'age': 9,
 'is_vaccinated': True,
 'height': 1.1,
 'birth_year': 2001,
 'belongings': ['bone', 'littleball']}

In [4]:
dog_dict['name']

# how to access a specific element of Python dictionary

'Freddie'

In [4]:
dog_dict

{'name': 'Freddie',
 'age': 9,
 'is_vaccinated': True,
 'height': 1.1,
 'birth_year': 2001,
 'belongings': ['bone', 'littleball']}

## Exercise

In [5]:
test = [{'Arizona': 'Phoenix', 'California': 'Sacramento', 'Hawai': 'Honolulu'},
       1000,
       2000,
       3000,
       ['hat', 't-shirt', 'jeans', {'socks1': 'red', 'socks2': 'blue'}]]

In [6]:
test

[{'Arizona': 'Phoenix', 'California': 'Sacramento', 'Hawai': 'Honolulu'},
 1000,
 2000,
 3000,
 ['hat', 't-shirt', 'jeans', {'socks1': 'red', 'socks2': 'blue'}]]

In [7]:
test[2]

2000

In [8]:
test[0]

{'Arizona': 'Phoenix', 'California': 'Sacramento', 'Hawai': 'Honolulu'}

In [9]:
test[4]

['hat', 't-shirt', 'jeans', {'socks1': 'red', 'socks2': 'blue'}]

In [10]:
test[0]['Arizona']

'Phoenix'

In [11]:
test[4][2]

'jeans'

In [13]:
test[4][3]['socks2']

'blue'

# Built-in Functions and Methods

In [14]:
a = 'Hello!'

In [18]:
len(a) #function

6

In [16]:
a.upper() #method

'HELLO!'

## Built-in Fuctions
https://docs.python.org/3/library/functions.html

In [6]:
# print() : it prints your stuff to the screen
print('Hello, World!')

Hello, World!

In [7]:
# abs() : returns the absolute value of a numeric value (e.g. integer or float)
abs(-4/3)

1.3333333333333333

In [8]:
# round() : returns the rounded value of a numeric value
round(-4/3)

-1

In [9]:
# min() : returns the smallest item of a list or of the typed-in arguments
min(3,2,5)

2

In [10]:
min('c','a','b')

'a'

In [11]:
# max() : returns the biggest item of a list or of the typed-in arguments
max(3,2,5)

5

In [12]:
max('c','a','b')

'c'

In [13]:
# sorted() : it sorts a list into ascending order
a = [3, 2, 1]
sorted(a)

[1, 2, 3]

In [15]:
# sum() : it sums a list
a = [3, 2, 1]
sum(a)

6

In [16]:
b = [4/3, 2/3, 1/3, 1/3, 1/3]
sum(b)

3.0000000000000004

In [17]:
# len() : returns the number of elements in a list or the number of characteres in a string
len('Hello!')

6

In [19]:
# type() : returns the type of the variable
a = True
type(a)

bool

In [20]:
b = 2
type(b)

int

## Built-in methods

### Methods for Python Strings

In [1]:
# var.lower() : returns the lowercase version of a string
a = 'MuG'
a.lower()

'mug'

In [2]:
# var.upper() : returns the uppercase version of a string
a = 'MuG'
a.upper()

'MUG'

In [3]:
# var.strip() : if the string has whitespaces at the beginning or at the end, it removes them
a = ' Mug '
a.strip()

'Mug'

In [4]:
# var.replace('old', 'new') : replaces a given string with another string. It's case sensitive
a = 'muh'
a.replace('h', 'g')

'mug'

In [5]:
# var.split('delimiter') : splits your string into a list. Your argument specifies the delimiter
a = 'Hello World'
a.split(' ')

['Hello', 'World']

In [6]:
# 'delimiter'.join(var) : it joins elements of a list into one string. You can specify the dleimiter again
a = ['Hello', 'World']
' '.join(a)

'Hello World'

### Methods for Python Lists
https://docs.python.org/3/tutorial/datastructures.html

In [18]:
dog = ['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]

In [19]:
dog

['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]

In [20]:
# var.append(arg) : adds an element to the end of our list
dog.append(4)
dog

['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball'], 4]

In [21]:
# var.remove(arg) : we have to specify the element we want to remove and Python will remove the first item with that value from the list
dog.remove(2001)
dog

['Freddie', 9, True, 1.1, ['bone', 'little ball'], 4]

In [22]:
# var.count(arg) : returns the number of the specified value in a list
dog.count('Freddie')

1

In [23]:
# var.clear() : removes all elements of the list
dog.clear()
dog

[]

### Methods for Python Dictionaries

In [24]:
dog_dict = {'name': 'Freddie',
           'age': 9,
           'is_vaccinated': True,
           'height': 1.1,
           'birth_year': 2001,
           'belongings': ['bone', 'little ball']}

In [25]:
dog_dict

{'name': 'Freddie',
 'age': 9,
 'is_vaccinated': True,
 'height': 1.1,
 'birth_year': 2001,
 'belongings': ['bone', 'little ball']}

In [26]:
# dict.keys() : will return all the keys from your dictionary
dog_dict.keys()

dict_keys(['name', 'age', 'is_vaccinated', 'height', 'birth_year', 'belongings'])

In [27]:
# dict.values() : will return all the values from your dictionary
dog_dict.values()

dict_values(['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']])

In [28]:
# dict.clear() : will delete everything from your dictionary
dog_dict.clear()

In [29]:
dog_dict

{}

In [30]:
# adding an element to a dictionary : dict['key'] = 'value'
dog_dict['name'] = 'Freddie'

In [31]:
dog_dict

{'name': 'Freddie'}

## Exercise

In [32]:
test_yourself = [1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 5]

### Calculate the mean of the list elements
The mean is the usual average

In [33]:
lenght = len(test_yourself)

In [34]:
lenght

11

In [35]:
test_yourself_total = sum(test_yourself)

In [36]:
test_yourself_total

32

In [37]:
mean = test_yourself_total / lenght

In [38]:
mean

2.909090909090909

### Calculate the median of the list elements
The median is the middle value, so first I'll have to rewrite the list in numerical order.
If there is pair number of numbers in the list, so the middle one will be the mean of the two middle numbers

In [40]:
test_yourself_in_order = sorted(test_yourself)

In [41]:
test_yourself_in_order

[1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 5]

In [47]:
middle = round(lenght / 2) - 1

In [48]:
middle

5

In [50]:
median = test_yourself_in_order[middle]

In [51]:
median

3

# IF statement

In [1]:
a = 10
b = 20
a == b

False

In [2]:
if a == b:
    print('yes')
else:
    print('no')

no

In [3]:
b = 10
if a == b:
    print('yes')
else:
    print('no')

yes

In [1]:
a = 10
b = 20
c = 30
if (a + b) / c == 1 and c - b - a == 0:
    print('yes')
else:
    print('no')

yes

In [10]:
a = 10
b = 11
c = 10
if a == b:
    print('first condition is true')
elif a == c:
    print('second condition is true')
else:
    print('nothing is true. existence is pain.')

second condition is true

In [11]:
a = 10
b = 11
c = 10
if a == b:
    print('first condition is true')
else:
    if a == c:
        print('second condition is true')
    else:
        print('nothing is true. existence is pain.')

second condition is true

## Exercise

In [12]:
number = 918652728452151

In [18]:
if number % 17 == 0 and len(str(number)) > 12:
    print('super17')
else:
    if number % 13 == 0 and len(str(number)) > 10:
        print('awesome13')
    else:
        print('meh, this is just an average random number')

super17

# FOR loops

In [3]:
dog = ['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]

In [4]:
for i in dog:
    print(i)

Freddie
9
True
1.1
2001
['bone', 'little ball']

In [5]:
numbers = [1, 5, 12, 91, 102]

In [7]:
for i in numbers:
    print(i * i)

1
25
144
8281
10404

In [3]:
my_string = 'Hello World!'
for i in my_string:
    print(i)

H
e
l
l
o

W
o
r
l
d
!

In [4]:
my_range = range(0,10)
for i in my_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
my_range = range(0,10,2)
for i in my_range:
    print(i)

0
2
4
6
8

In [6]:
my_range = range(10)
for i in my_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
my_list = range(1,10,2)
for i in my_list:
    print(i * i * i)

1
27
125
343
729

In [8]:
my_list = [1, 5, 12, 91, 102]
my_list_length = len(my_list)
for i in range(0,my_list_length):
    print(i, my_list[i] * my_list[i])

0 1
1 25
2 144
3 8281
4 10404

In [1]:
#error
my_list = 'Hello World!'
number = 1
for i in my_list:
    print("Here's the letter #" + number + " of it: " + i)
    number = number + 1

TypeError: must be str, not int

In [2]:
my_list = 'Hello World!'
number = 1
for i in my_list:
    print("Here's the letter #" + str(number) + " of it: " + str(i))
    number = number + 1

Here's the letter #1 of it: H
Here's the letter #2 of it: e
Here's the letter #3 of it: l
Here's the letter #4 of it: l
Here's the letter #5 of it: o
Here's the letter #6 of it:
Here's the letter #7 of it: W
Here's the letter #8 of it: o
Here's the letter #9 of it: r
Here's the letter #10 of it: l
Here's the letter #11 of it: d
Here's the letter #12 of it: !

## Exercise

In [3]:
my_string = "python"
my_string_length = len(my_string)

In [20]:
for i in range(1,my_string_length*2):
    if i <= my_string_length:
        print(my_string[0:i])
    else:
        print(my_string[0:-(i-6)])

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

# FOR Loops and IF Statements Combined

In [1]:
my_movies = [['How I Met Your Mother', 'Friends', 'Silicon Valley'],
    ['Family Guy', 'South Park', 'Rick and Morty'],
    ['Breaking Bad', 'Game of Thrones', 'The Wire']]

In [8]:
# the nested for loop
for l in my_movies:
    for movie in l:
        print("The title " + movie + " is " + str(len(movie)) + " characteres long.")

The title How I Met Your Mother is 21 characteres long.
The title Friends is 7 characteres long.
The title Silicon Valley is 14 characteres long.
The title Family Guy is 10 characteres long.
The title South Park is 10 characteres long.
The title Rick and Morty is 14 characteres long.
The title Breaking Bad is 12 characteres long.
The title Game of Thrones is 15 characteres long.
The title The Wire is 8 characteres long.

In [9]:
# if statement within a for loop
for i in range(100):
    if i % 3 == 0 and i % 5 == 0:
        print(str(i) + ": fizzbuzz")
    elif i % 3 == 0:
        print(str(i) + ": fizz")
    elif i % 5 == 0:
        print(str(i) + ": buzz")
    else:
        print((str(i) + ": -"))

0: fizzbuzz
1: -
2: -
3: fizz
4: -
5: buzz
6: fizz
7: -
8: -
9: fizz
10: buzz
11: -
12: fizz
13: -
14: -
15: fizzbuzz
16: -
17: -
18: fizz
19: -
20: buzz
21: fizz
22: -
23: -
24: fizz
25: buzz
26: -
27: fizz
28: -
29: -
30: fizzbuzz
31: -
32: -
33: fizz
34: -
35: buzz
36: fizz
37: -
38: -
39: fizz
40: buzz
41: -
42: fizz
43: -
44: -
45: fizzbuzz
46: -
47: -
48: fizz
49: -
50: buzz
51: fizz
52: -
53: -
54: fizz
55: buzz
56: -
57: fizz
58: -
59: -
60: fizzbuzz
61: -
62: -
63: fizz
64: -
65: buzz
66: fizz
67: -
68: -
69: fizz
70: buzz
71: -
72: fizz
73: -
74: -
75: fizzbuzz
76: -
77: -
78: fizz
79: -
80: buzz
81: fizz
82: -
83: -
84: fizz
85: buzz
86: -
87: fizz
88: -
89: -
90: fizzbuzz
91: -
92: -
93: fizz
94: -
95: buzz
96: fizz
97: -
98: -
99: fizz

In [15]:
# break : Can you find the first 7-digit number thats divisible by 137?
for i in range(0, 10000000, 137):
    if len(str(i)) == 7: #and i % 137 == 0:
        print("The number is: " + str(i))
        break

The number is: 1000100

In [17]:
while i < 10000000 and i % 137 == 0 and len(str(i)) == 7:
    print("The number is: " + str(i))
    break

The number is: 1000100

## Exercise

Create a Python script that finds out your age in a maximum of 8 tries! The script can ask you only one type of question: guessing your age! (e.g. Are you 67 years old?) And you can answer only one of these three options: less, more, correct

Based on your answer the computer can come up with another guess until it finds out your exact age.

In [20]:
down = 0
up = 120

for i in range(1,10):
    guessed_age = int((up + down)/2)
    answer = input("Are you " + str(guessed_age) + " years old?")
    if answer == "correct":
        print("I got the answer right on the " + str(i) + "th try")
        break
    elif answer == "more":
        down = guessed_age
    elif answer == "less":
        up = guessed_age
    else:
        print("wrong answer")

Are you 60 years old?less
Are you 30 years old?less
Are you 15 years old?more
Are you 22 years old?more
Are you 26 years old?more
Are you 28 years old?more
Are you 29 years old?correct
I got the answer right on the 7th try

# Import and Built-in Modules

## Most Important Python Built-in Modules for Data Analysis and Scientist

### Random

In [1]:
import random

In [2]:
random.random()

0.34505091907540386

In [3]:
random.randint(1,10)

8

### Statistics

In [6]:
import statistics

In [7]:
a = [0, 1, 1, 3, 4, 9, 15]

In [8]:
statistics.mean(a)

4.714285714285714

In [9]:
statistics.median(a)

3

In [10]:
statistics.mode(a)

1

In [11]:
statistics.stdev(a)

5.437961803049794

In [12]:
statistics.variance(a)

29.571428571428566

### Math

In [13]:
import math

In [14]:
math.factorial(5)

120

In [15]:
math.pi

3.141592653589793

In [16]:
math.sqrt(5)

2.23606797749979

In [17]:
math.log(256, 2)

8.0

### Datetime

In [19]:
import datetime

In [20]:
datetime.datetime.now()

datetime.datetime(2019, 10, 2, 16, 2, 11, 281885)

In [21]:
datetime.datetime.now().strftime("%F")

'2019-10-02'

### CSV

In [50]:
fruits = [["2018-04-10",1001,"banana"],
          ["2018-04-11",1002,"orange"],
          ["2018-04-12",1003,"apple"]]

In [51]:
import csv

In [59]:
with open('fruits.csv', 'w') as writeFile:
    writer = csv.writer(writeFile, delimiter=";")
    writer.writerows(fruits)

In [60]:
with open('fruit.csv', 'r') as csvfile:
    my_file = csv.reader(csvfile, delimiter=';')
    for row in my_file:
        print(row)

['2018-04-10', '1001', 'banana']
['2018-04-11', '1002', 'orange']
['2018-04-12', '1003', 'apple']